extends layout

block content
  h1= title
  p Welcome to Need based sprinkler system.

  #wrapper
    #sensorInfo
        h2 Sensor Info
        p
            strong ID:
            |  <span id='sensorInfoId'></span>
            br
            strong Type:
            |  <span id='sensorInfoType'></span>
            br
            strong PinID:
            |  <span id='sensorInfoPinId'></span>
            br
            strong TurnOnTime:
            |  <span id='sensorInfoTurnOnTime'></span>
            br
            strong TurnOffTime:
            |  <span id='sensorInfoTurnOffTime'></span>
            br
            strong TurnOnMoisture:
            |  <span id='sensorInfoTurnOnMoisture'></span>
            br
            strong TurnOffMoisture:
            |  <span id='sensorInfoTurnOffMoisture'></span>
            br
            strong MoistureHistory:
            |  <span id='sensorInfoMoistureHistory'></span>
            br
            strong TurnOnLight:
            |  <span id='sensorInfoTurnOnLight'></span>
            br
            strong TurnOffLight:
            |  <span id='sensorInfoTurnOffLight'></span>
            br
            strong LightHistory:
            |  <span id='sensorInfoLightHistory'></span>
            br
            strong TurnOnTemp:
            |  <span id='sensorInfoTurnOnTemp'></span>
            br
            strong TurnOffTemp:
            |  <span id='sensorInfoTurnOffTemp'></span>
            br
            strong TempHistory:
            |  <span id='sensorInfoTempHistory'></span>
    // /Sensor Info

    h2 Sensor List
    #sensorList
      table
        thead
          th ID
          th Type
          th PinID
          th Delete?
        tbody
      // /Sensor List

    h2 Add Sensor
    #addSensor
        fieldset
            input#inputAddress(type='text', placeholder='Address')
            br
            input#inputTurnOn(type='text', placeholder='TurnOn')
            input#inputTurnOff(type='text', placeholder='TurnOff')
            br
            button#btnAddSensor Add Sensor
            p#basicExample
              
              input(id='dateStart', type='text', class='date start', style='float: left', placeholder='Start Date')
              div(class='input-group clockpicker', data-placement='right', data-align='top', data-autoclose='true', style='float: left')
                input(id='timeStart', type='text', class='clockPickerInput form-control', placeholder='Start Time')
                span(class='input-group-addon')
                  span(class="glyphicon glyphicon-time")
                  .span
                .span
              .div

              input(id='dateEnd', type='text', class='date start', style='float: left', placeholder='End Date')
              div(class='input-group clockpicker', data-placement='right', data-align='top', data-autoclose='true', style='float: left')
                input(id='timeEnd', type='text', class='clockPickerInput form-control', placeholder='End Time')
                span(class='input-group-addon')
                  span(class="glyphicon glyphicon-time")
                  .span
                .span
              .div
            .p
              //input(id='timeEnd', type='text', class='time end clockpicker')
              //input(id='dateEnd', type='text', class='date end')
            br
    // /Add Sensor
    // / Wrapper
