extends layout

block content
  h1= title
  p Welcome to Need based sprinkler system.

  #wrapper
    #sensorInfo
        h2 Sensor Info
        p
            strong Address:
            |  <span id='sensorInfoAddress'></span>
            br
            strong TurnOn:
            |  <span id='sensorInfoTurnOn'></span>
            br
            strong TurnOff:
            |  <span id='sensorInfoTurnOff'></span>
    // /Sensor Info

    h2 Sensor List
    #sensorList
      table
        thead
          th Address
          th TurnOn
          th TurnOff
          th Delete?
        tbody
      // /Sensor List

    h2 Add Sensor
    #addSensor
        fieldset
            input#inputAddress(type='text', placeholder='Address')
            br
            input#inputTurnOn(type='text', placeholder='TurnOn')
            input#inputTurnOff(type='text', placeholder='TurnOff')
            br
            button#btnAddSensor Add Sensor
            p#basicExample
              br
              input(id='dateStart', type='text', class='date start')
              input(id='timeStart', type='text', class='time start')
              input(id='timeEnd', type='text', class='time end')
              input(id='dateEnd', type='text', class='date end')
            br
    // /Add Sensor
    // / Wrapper
