doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.timepicker.css')
    link(rel='stylesheet', href='/stylesheets/jquery-clockpicker.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    script.
        $(document).ready
            alert(hello world)
            //$("#message").html("message set through jquery")
        )
  body
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/global.js')
    script(src='/javascripts/jquery.timepicker.js')
    script(src='/javascripts/jquery-clockpicker.min.js')
    script(src='/javascripts/datepair.js')
    script(src='/javascripts/jquery-ui.min.js')
body
 p#message

