doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.timepicker.css')
    link(rel='stylesheet', href='/stylesheets/jquery-clockpicker.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/myknob.css')
    
    script(src='/javascripts/jquery.min.js')
    //script(src='/javascripts/global.js')
    script(src='/javascripts/jquery.timepicker.js')
    script(src='/javascripts/jquery-clockpicker.min.js')
    script(src='/javascripts/Datepair.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/datejs/date.js')
    script(src='/javascripts/sensorSettingsActions.js')
    script(src='/javascripts/sensor.js')

    script(src='/javascripts/knob/dist/jquery.knob.min.js')
    script(src='/javascripts/knob/dist/myknob.js')

body
  block content
  p#message
  block scriptology
